@import url('https://fonts.googleapis.com/css2?family=MontserratMontserrat:wght@100&display=swap');

body{
    background: url(images/BG.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

*{
    box-sizing: border-box;
}

.navbar{    
    display: flex;
    justify-content: space-between;
    flex-flow:row nowrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
} 
  a{
    display: inline-block;
    word-break: keep-all;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat";
    border-radius: 29px;
    border: solid 1px rgb(53, 81, 93) ;
    background: rgb(17, 52, 70, 53%);
    text-transform: uppercase;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
  }

.button_icon{
    padding: 0px 8px;
    text-align: center;
    font-weight: 500;
}
.logos{
    align-items: center;
    margin-left: 18%;
}
.Experios_logo{
    margin-right: 26px;
    height: 30px;
    align-items:center;
}
.VirtualEscape_logo{
    height: 34px;
    margin-top: 6px;
}

.button{
    display:inline-block;
    text-align: center;
    align-self: center;
    margin-top: 12px;
    margin-right: 18%;
}
.connection_button{
    margin-left: auto !important;
    margin-right: 16px;
    padding: 10px 8px;
    width: 200px;
    text-align: center;
}
.Logout_button{
    width: 141px;
    padding: 10px 8px;
    margin-bottom:0px ;
    text-align: center;
}

.boxes{
    border-radius: 10px;
    border: 1px solid rgb(53, 81, 93);
    margin: auto;
    margin-top: 30px;
    align-content: center;
    display: flex;
    backdrop-filter: blur(50px) brightness(50%) opacity(100%);
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px 30px 40px;  
    font-size: 20px;
    font-family: "Montserrat";
    color: #FFFFFF;
}

.textbox{
    margin-bottom: 0.6rem !important;
}

.box{
    display: flex;
    margin-right: 20px;
    margin-top: 12px;
    width: 100%;
    padding-bottom: 20px;
    background-color: rgb(14, 38, 52,0.53);
    border-radius: 7px;
}
.image{
    align-self: flex-start;
    margin-top: 30px;
}
.bold{
    font-weight: bold;
}
.innerbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-top:20px ;
    margin-left: 20px;
    margin-right: 10px;
    text-align: start;
}

.returnbutton{
    margin-top: 50px;
    align-self: center;
}
.rtbutton{
    background-image:linear-gradient(#f80705,#7b1e1d);
    background-blend-mode: normal;
    color: #fff;
    border-radius: 29px;
    width: 386px;
    height: 58px;
    margin:0px ;
    align-self: center;
    font-size: 18px;
    font-weight: 500 !important;
    border-style: none;
    cursor: pointer;


}
.icon{
    margin-right:4px;
}

@media screen and (max-width: 1500px){
    .logos{
        margin-left: 10%;
    }
    .button{
        margin-right: 10%;
    }
}

@media screen and (max-width: 1200px)
{
    .boxes
    {
        width: 95%;
    }
    .logos{
        margin-left: 0px;
    }
    .button{
        margin-right: 0px;
    }
}

@media screen and (max-width: 800px)
{
    .image {
        align-self: center!important;
        margin-left: 0px ;
        margin-top: 20px;
    }
    .innerbox{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px)
{
    .rtbutton {
        width: 260px !important;
        height: 54px !important;
        font-size: .85em !important;
    }
    .boxes{
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (min-width: 768px)
{
    .button {
        display: flex!important;
        flex-basis: auto;
    }
    
}